<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="background-<%= locals.bgcolor  ? bgcolor : null %>" >
    <main class="preferido">
    <h1><%= locals.userName ? userName : null %>, Gracias por visitarnos </h1>
  </main>
  </body>
</html>